$size :  300px;
.my-nerdlet {
  outline: 1px solid black;
}

.box {
  border: solid;
  border-width: 0.1rem;
  padding: 10px;
  width: $size;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;  
  position: absolute;
  z-index: 1;
  border:solid 0.1px;
  
}
.boxInterno{
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  background-color: white;
  position: relative;
  bottom: -10px;
  left: -10px;
  width: $size + 18px ;
  border:solid 0.1px;
  z-index: 2;
}
.verde{
  background-color: #61a965;
  // border-top-color: #61a965;
}

.amarillo{
  background-color: #f3c04d;
  // border-top-color: #f3c04d;
}
.rojo{
  background-color: #ed4a38;
  // border-top-color: #ed4a38;
}

.buttonDiv{
  border-radius: 0.5rem;
  width: $size - 150px;
  border:solid 0.5px;
  margin: 0.6rem;
  padding: 0.6rem;
  box-shadow: 0px -0px 2px 0px #444;
}
